@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

body{
    background: rgb(255,170,204);
background: linear-gradient(90deg, rgba(255,170,204,1) 27%, rgba(204,238,255,1) 61%);
font-family: 'Boogaloo', cursive;
}


#W1{
    width: 500px;
}


.login_div1 , .login_div2
{
    background: white;
    padding: 10px;
    float: none;
    border-radius: 15px;
};

